.Result-Search {
  .sort-wrapper {
    border-bottom: solid 1px #dadada;
  }
  .sort {
    flex-wrap: wrap;
  }
  .sort-btn-active {
    border: solid 1px #1890ff;
    color: #fff;
    background-color: #1890ff;
    transition: all 0.25s;
  }
  .not-found-product {
    width: 200px;
    height: 200px;
  }
  &-list {
    min-height: 50vh;
  }
  color: #40a9ff;
}
